huaweicloudsdkcore
huaweicloudsdkecs
huaweicloudsdkvpc
huaweicloudsdkces
huaweicloudsdkcce
huaweicloudsdkvpcep
huaweicloudsdkevs
huaweicloudsdkeip
huaweicloudsdkelb
huaweicloudsdkiam
huaweicloudsdkaom
huaweicloudsdklts
huaweicloudsdkhss
huaweicloudsdksfsturbo
kubernetes
requests
httpx[socks]
PyYAML
matplotlib
numpy
