requests
PyYAML
numpy
matplotlib
kubernetes
passlib
huaweicloudsdkcore
huaweicloudsdkcce
huaweicloudsdkces
huaweicloudsdkecs
huaweicloudsdkvpc
huaweicloudsdkevs
huaweicloudsdkeip
huaweicloudsdkelb
huaweicloudsdkiam
huaweicloudsdklts
huaweicloudsdkaom
huaweicloudsdkhss
huaweicloudsdksfsturbo
huaweicloudsdkvpcep
skillcheck
cisco-ai-skill-scanner